.poidsActuelReadOnly {
  width: 100%;
  height: 60%;
  background-color: #e7dcdc;
  border-radius: 5px;
  margin-left: 20px;
  padding: 20px;
  text-align: begin;
}
.dailyPoids {
  width: 60px;
}
.titrePoids {
  width: 20px;
}
.titreImc {
  width: 60px;
}
.IMC {
  color: #ffd31a;
}

.unitePoids {
  color: #ffd31a;
}
.poids-text-md {
  font-size: 16px;
  line-height: 100%;
}

.poids-text-sm {
  font-size: 14px;
  float: right;
}

.rowPoids {
  border-color: rgb(236, 236, 236);

  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.accordeonPoids {
  width: auto;
  height: auto;
  display: none;
}

.ionTableau {
  --ion-background-color: #113d37;
  color: white;
}

.poidsGraph {
  padding-right: 30px !important;
  background-color: #113d37;
}

.test11 {
  align-content: right;
}
