.input {
  height: 60%;
  background-color: #e7dcdc;
  border-radius: 5px;
}

.poids-text-md {
  font-size: 16px;
  line-height: 100%;
}

.poids-text-sm {
  font-size: 14px;
  float: right;
}

.rowPoids {
  border-color: rgb(236, 236, 236);
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.accordeonPoids {
  width: auto;
  height: auto;
  display: none;
}

.ionTableau {
  --ion-background-color: #113d37;
  color: white;
}

.poidsGraph {
  padding-right: 30px !important;
  background-color: #113d37;
}

.test11 {
  align-content: right;
}
.icone{
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  margin: auto;
  
}

.divIcone {
  width: 120px;
  height: 120px;
  float: left;
  --padding-start: 0px;
  border-bottom: 0px;
  border-radius: 8px;
  background-color: #3E7D65;
}

.divInfos {
  background-color: #FFFFFF;
  height: 120px;
  width: 80%;
  float: right;
  border-bottom: 0px;

}


.titrePoidsIni{
  color: #707070;
  margin-top: 15px;
   
}

.poidsIni{
  color:#707070;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
}

.divPoidsCib {
  background-color: #24A78817;
  color: #707070;
  width: 220px;
  margin-top: 15px;
}

.PoidsCib {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color:#707070;
  margin: auto;
}
.dateCible{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  color:#707070;

}


.titrePoids{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25pt;
  color:#707070
}
.dailyPoids {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: #707070;
}
.IMC {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  color:#707070;
}
.divImc {
  margin-top: 5px;
}

.rightContentInfos {
    text-align: right;
  --padding-top: 15px;

}
.leftContentInfos{
  --padding-top: 10px;
}

#input-weight-modal {
  --height: 200px;
  --width: 90%;
}

.input-weight {
  border-width: 0 0 1px 0;
  border-style: solid;
  width: 50px !important;
  
}

.sc-ion-popover-md-h {
  --width: 100px;
}

.new-weight {
  font-size: 12px !important;
  width: 130px;
}

ion-select-popover ion-list ion-item ion-radio {
  --color: transparent;
  --color-checked: transparent;
}

ion-select {
  margin-left: 30px;
  width: 70px;
}

#input-weight-button {
  margin-inline: 60px;
  margin-top: 20px;
  --background: #3E7D65;
}

ion-content>ion-item {
  margin-top: 15px;
  --border-width: 0 0 0 0;
  
}

.date-format {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 10px;
  padding: 0;
  width: auto;
}

.time-format {
  border-width: 0 0 1px 0;
  border-style: solid;
  margin-left: 70px;
  padding: 0;
  margin-right: 5px;
  width: auto;
}

.date-icon {
  font-size: 40px;
}

.no-focus {
  --highlight-color-focused: none;
}
