.input {
  height: 60%;
  background-color: #e7dcdc;
  border-radius: 5px;
}

.poidsActuel{
  margin-right: 5px;
}

.icone img{
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divIcone {
  width: 20%;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.divInfos {
  background-color: #FFFFFF;
  height: 110px;
  width: 100%;
  float: right;

}
.dailyPoids {
  text-align: right;
}
.titre{
  display: flex;
  justify-content: space-between;
}
.titrePoids {
  display:inline
}
.titrePoidsIni{
   margin-left: 13px;
}
.titrePoidsCible{
  width:100%
}
.poidsIni{
  color:#707070;
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
}
.poidsCib{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color:#707070;
  
  
}
.divPoidsCib {
  background-color: #24A78817;
  margin-left: 13px;
}
.titreImc {
  text-align: right;
}




.poids-text-md {
  font-size: 16px;
  line-height: 100%;
}

.poids-text-sm {
  font-size: 14px;
  float: right;
}

.rowPoids {
  border-color: rgb(236, 236, 236);
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.accordeonPoids {
  width: auto;
  height: auto;
  display: none;
}

.ionTableau {
  --ion-background-color: #113d37;
  color: white;
}

.poidsGraph {
  padding-right: 30px !important;
  background-color: #113d37;
}

.test11 {
  align-content: right;
}
.titrePoids{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25pt;
  color:#707070;
  

}
.IMC {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  color:#707070;
}
