ion-text {
    color: #707070;
    font-family: roboto;
}

.tabb{
    border-radius: 25px 5px 0px 25px;
    z-index: 32;
    padding: 2px 0;
    background-color: #404395;
}

.tabbb{
    border-radius: 25px;
    z-index: 3;
    padding: 2px 0;
    --ion-background-color: white;
    box-shadow: 1px 2px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.marg0 {
    margin: 0;
    padding:  0;
    width: 100%
}

.white-bg {
    background-color: white;
}

.Sommeil-Title {
    font-size: 25px;
}

.compte {
    font-size: 20px;
}

.cible {
    background-color: #EBF7F4;
    padding: 5px;
    font-size: 13px;
}

.textO {
    font-size: 15px;
}